@model IEnumerable<ValorDoMinuto>

@{
    ViewData["Title"] = "Valor Do Minuto";
}

<div class="text-center">
    <h1 class="display-4">Valor Do Minuto</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="ValorDoMinuto" asp-action="Novo">Novo</a>
</div>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Minutos</th>
                <th>Valor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Minutos</td>
                    <td>R$ @item.Valor.ToString("N2", new System.Globalization.CultureInfo("pt-BR"))</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="ValorDoMinuto" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    </td>
                    <td>
                        <form onsubmit="return confirm('Confirma?')" asp-controller="ValorDoMinuto" asp-action="Excluir" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>